secretfile filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.txt filter=git-crypt diff=git-crypt
*.tex filter=git-crypt diff=git-crypt
*.java filter=git-crypt diff=git-crypt
*.jpg filter=git-crypt diff=git-crypt
